.action-button{
    background-color: rgba(65, 6, 6, 0.6);
    color: white;
    padding-inline: 30%;
    padding-block: 10px;
    font-size: 24px;
    cursor: pointer;
    border: none;
}

.action-button:hover{
    background-color: rgba(35, 3, 3, 0.6);
}